.chat {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aqua;
}

.chat-output {
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
}

.chat-output:hover {
    overflow-y: overlay;
}

.chat-input {
    display: flex;
    justify-content: space-between;
}
