.pile-wrapper {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pile {
    display: flex;
    justify-content: center;
    align-items: center;
}
