.stats-wrapper {
    width: 100%;
    height: 50%;
    padding: 10px;
}

.stats {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.round-stats {
    display: flex;
    justify-content: center;
}

.round-stat {
    margin: 10px;
}

.score-wrapper {
    overflow: hidden;
}

.score-wrapper:hover {
    overflow-y: overlay;
}
